.chatBoxBottom {
    margin-top: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.inputChatMessage{
    width: 80%;
    height: 90px;
    padding: 10px;
}

.buttons {
    display: flex;
    flex-direction: column;
    margin-right: 20px;
}

.chatSubmitButton {
    width: 90px;
    height: 40px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: gray;
    color: whitesmoke;
    font-size: 15px;
}

.denunciaSubmitButton {
    width: 90px;
    height: 40px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: red;
    color: whitesmoke;
    font-size: 15px;
    margin-top: 10px;

}