.chatColumn {
    /* Rectangle 274 */

    /* position: absolute; */
    width: 273px;
    height: 43.94px;
    color: azure;
    margin-top: 35px;
    margin-right: 100px;
    border-top: 4px;
    background: linear-gradient(178.18deg, #FD749B -13.56%, #281AC8 158.3%);
    margin-left: -9px;
    border-radius: 20px;
    margin-left: 0px;

}

.textoMensaje {
    height: 19.94px;
    margin-left: -49px;
    margin-right: 25px;
    margin-top: 40px;
    padding: 10px;
    padding-left: 60px;
    border-radius: 20px;
    background: linear-gradient(178.18deg, #FD749B -13.56%, #281AC8 158.3%);
    color:white;
    max-width: 350px;
    src: url('../../fonts/Poppins-Regular.ttf');
    font-style: normal;
    font-weight: 400;
}