.Perfil {
    display: flex;
    cursor: pointer;
}

.UsuarioConexion {
    display: flex;
    flex-direction: column;
    margin-top: 14px;
}

.ConversacionImg {
    margin-top: 17px;
    margin-left: 25px;
    width: 37px;
    height: 37px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 20px;
}

.nombreConversacion {
    color: #858585;
    background-color: transparent;
    src: url('../../fonts/Poppins-Regular.ttf');
    font-style: normal;
    font-weight: 700;

}

.conexionActual {
    color: #858585;
    background-color: transparent;
    src: url('../../fonts/Poppins-Regular.ttf');
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
}

.chatOnlineBadge {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: limegreen;
    top: 0;
    margin-left: 55px;
    right: 9px;
}

.chatOnlineWrapper {
    /* display: flex; */
    height: 392px;
    flex-direction: column;
    overflow-y: scroll;
    scroll-behavior: smooth;
}

.chatOnline {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.NewChatButton {
    margin-top: 10px;
    color:blueviolet;
    width: 180px;
    margin-left: 90px;
    padding: 10px;
    border-radius: 20px;
    background: linear-gradient(178.18deg, #FD749B -13.56%, #281AC8 158.3%);
    color:white;
    src: url('../../fonts/Poppins-Regular.ttf');
    font-weight: 400;
    cursor: pointer;
}