.navbar {
    padding: 10px;
    padding-bottom: 18px;
    background-color: white;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.lupa {
    height: 17px;
    width: 17px;
    padding-top: 12px;
    padding-left: 60px;
    z-index: initial;
}

.campana {
    height: 19px;
    width: 19px;
    padding-top: 3px;
    padding-left: 30px;
    padding-right: 20px;
    z-index: initial;
    cursor: pointer;
}

.userSearch {
    /* Rectangle 282 */
    box-sizing: border-box;
    color: #484848;
    background-color: transparent;

    src: url('../../fonts/Poppins-Regular.ttf');
    font-style: normal;
    font-weight: 400;
    padding-left: 60px;
    margin-left: 40px;
    border-color: #FD749B;
    position: absolute;
    width: 422px;
    height: 40px;
    border-radius: 100px;
}

::placeholder {
    src: url('../../fonts/Poppins-Regular.ttf');
    width: 97px;
    height: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    /* or 240% */
    color: #858585;
    mix-blend-mode: normal;
    opacity: 0.5;
}

.PerfilImg {
    margin-top: 9px;
    margin-left: 25px;
    width: 37px;
    height: 37px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 20px;
    cursor: pointer;
}

.usuario {
    display: flex;
    align-items: center;
}

.userLogged {
    margin-top: 2px;
    color: #858585;
    max-width: 350px;
    font-size: 16 px;
    cursor: pointer;
}