.Message {
    display: flex;
    flex-direction: column;
    padding: 12px;
}

.MessageOwnerHour {
    margin-left: 20px;
    padding: 7px;
    border-radius: 20px;
    color: #858585;
    background-color: #f0f0f0;
    font-weight: 300;
    font-size: 12px;
} 

.MessageText {
    margin-left: 9px;
    padding: 10px;
    border-radius: 20px;
    background-color: #dcdcdc;
    color: #858585;
    max-width: 350px;
}